

		<div class="header">
			
			
			<div class="content">
				<div class="about">
					<h2>About us</h2>
				
					<h3>OUR STORY</h3>
					<p align="justify">Alphanetworld Corporation, also known as and operating under the trade name NWORLD, is duly incorporated under the laws of the Republic of the Philippines. Registered on July 9, 2015 with the Securities and Exchange Commission under Company Registration Number CS201513594, NWORLD is in the business of research, development, acquisition of patents and licenses on prominent products and merchandise of any kind such as but not limited to drugs, foods, food and health supplements, pharmaceuticals and skin care items. NWORLD is also engaged in the importation, exportation, marketing and trading of premium health and beauty products, using a distinctive product distribution through direct selling system. </p>

<p align="justify">Launching its business with an initial paid up capital of One Hundred Million Pesos (P100,000,000) and the recent infusion of another Fifty Million Pesos (P50,000,000) paid up capital are just some of NWORLD’s way of showing its full commitment to deliver what customers can only expect from a fully established and well capitalize entities: veteran management team, world-class and FDA registered product lines, strategically situated branches to support its distributors, generous sales and distribution payout system, rewarding incentive program and the unique in its class, choose your own product package content. </p>

<p align="justify">NWORLD was created to bring a high level of excitement and satisfaction to customers while being a pro-distributor company. This intricate balance of perspective and goal was achieved with the help and guidance of a dynamic board of directors proficient management team. At the helm of the company is one of its founders, Mr. Juluis Allan G. Nolasco, an MLM innovator, a seasoned executive and a savvy businessman.</p>

<p align="justify">The future is bright for NWORLD! It has captured the Philippine market by storm and is gearing towards the global market. Indeed, the era of NWORLD has arrived.</p>
					
					<h3>VISION</h3>
					<p align="justify">We envision of becoming one of the leading direct sales companies in Asia by 2018 by creating unparalleled opportunities for its distributors through a dynamic, systematic and innovative distribution of products while giving back to the government and society a fair share of its revenue.</p>
					
					<h3>MISSION</h3>
					<p align="justify">We run our business through governance with high moral values, sound corporate practices and application of relevant direct selling business management and expertise by using a 5-Point Corporate Mission.</p>
					
				</div>
			</div>
			
			<div class="article">
				<div class="first">
					
					<h4>Address</h4>
					<p>Nworld Naga City Branch</br>
					 Ground Floor Lemon Residences Building</br>
					 Magsaysay Avenue</br>
					 Naga City</br>
					 +639091234567</p>
				</div>
				
				
			</div>
		</div>
		<br><br><br><br>
		<div class="footer">
			<!-- <p>&#169; 2011 Nlighten. All Rights Reserved.</p> -->
		</div>


