

<% if session[:user_type] == "admin" %>

<% if notice %>
<p class="alert alert-success"><%= flash[:notice] %></p>
<% end %>



<script type="text/javascript">
    window.location.href="/adminProduct" 
</script>


<% elsif session[:user_type] == "retailer"  %>

<% if notice %>
<p class="alert alert-success"><%= flash[:notice] %></p>
<% end %>


<script type="text/javascript">
    window.location.href="/homepage" 
</script>






<% end %>



