<% if notice %>
<p class="alert alert-success"><%= flash[:notice] %></p>
<% end %>
		
    <div class="body">
      <div class="featured">
        <a href="#"><img src="assets/advertisement.jpg" alt=""/></a>
        <div class="gallery">
          <a href="/homepage"><img src="assets/nlighten.png" alt=""/></a>
          <ul class="first">
            <li><a href="#"><img src="assets/a.jpg" alt=""/></a></li>
            <li><a href="#"><img src="assets/b.jpg" alt=""/></a></li>
            <li><a href="#"><img src="assets/c.jpg" alt=""/></a></li>
          </ul>
          <ul>
            <li><a href="#"><img src="assets/d.jpg" alt=""/></a></li>
            <li><a href="#"><img src="assets/e.jpg" alt=""/></a></li>
            <li><a href="#"><img src="assets/f.jpg" alt=""/></a></li>
          </ul>
        </div>
      </div>
 

				<div class="article">
				<div class="first">
					<h3>Just click to direct in Official Website</h3>
					<p><a href="www.thealphanetworld.com/">Nworld Website</a> </p>
					
				</div>
				<div>
					<h3>Sed Elementum</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque vestibulum nibh eget justo dapibus eu porttitor purus hendrerit.</p>
					<a href="#">www.thealphanetworld.com/</a>
					<a href="#">www.thealphanetworld.com/</a>
				</div>
				<div class="connect">
					<h2>Follow us</h2>
					<a href="http://facebook.com" id="facebook">Facebook</a>
					<a href="http://twitter.com" id="twitter">Twitter</a>
					<a href="#" id="comments">Comments</a>
					<a href="http://www.flickr.com" id="flickr">Flickr</a>
				</div>
      </div>
    </div>
